@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* *{
    margin: 0;
    padding: 0;
  } */
   
 main{
    max-width: 1100px;
    margin: 0 auto;
 }
  .header{
    margin: 0 165px;
  }
.dark{
    color: rgb(58, 58, 58);
}
.dark-1{
   color: 
   rgb(58, 58, 58);
}
.btn-primary{
    background-color: rgb(224, 44, 109);
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
}
.btn-2{
    background-color:rgb(224, 44, 109); 
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
}
 /* navbar style */
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:  rgb(58, 58, 58);;

}
/* share style */
.display-flex{
    display: flex;
}
.nav-link{
    display: flex;
    /* margin-right: 30px; */
    gap: 30px;

}
.nav-item{
   list-style: none;
}
 .pr-img{
    max-width: 475px;
    
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
 }
 .pr-img img{
    width: 100%;
    padding: 16px;
 }
 /* banner style */
 .banner-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 50px;
 }
 

  
 title{
    font-size: 52px;
    font-weight: 700;
}
.discription{
    font-size: 16px;
    font-weight: 600;
}
.logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   align-items: center;
   max-width: 1100px;
   margin: 0 auto;
   margin-top: 100px;
   gap: 50px;
}
/* btn */
.btn{
    border: none;
    text-decoration: none;
    color:  rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
   
    
}
.hello{
    text-align: end;
}

/* card style */
.box{
    border: 2px solid blueviolet;
    width: 329px;
    height: 476px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 15px;
    text-align: justify;
    gap: 50px;
    margin-bottom: 20px;
}
.box-all{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.Popular{
    text-align: center;
    margin-top: 50px;
}
.skill-container{
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: justify;
    margin-top: 50px;
}
/* responsive media quiery */
@media screen and (max-width:576px) {
     .navbar, .nav-link, .skill-container {
        flex-direction: column;
        justify-items: center;
     }
    .banner-content{
        flex-direction: column-reverse;
    }
    .skill-container{
         align-items: center;
         text-align: justify;
    }
    .logos, .box-all{
        grid-template-columns: 1fr;
        
         
    }
    main{
        justify-items: center;
    }
}


/* responsive medium query */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-content{
        flex-direction: column-reverse;
    }
    .logos{
        grid-template-columns:repeat(2,1fr);
         
    }
    .skill-container{
          flex-direction: column;
    }
}